body {
    padding-top: 50px;
    padding-bottom: 20px;
    height: 100vh;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    height: 80%;
    /*overflow: hidden;*/
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/*Scroll panes*/
.scroll-pane {
    height: 80%;
    overflow-x: hidden;
    overflow-y: auto;
}

/*Queue*/
.queue-controls {
    height: 15%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

.panel-info {
    border: none;
}

.panel-info > .panel-heading {
    border: none;
    background-color: #2e2f33;

}

.panel-body {
    background-color: #222327;
}

body {
    background-color: #121315;
}

.navbar-inverse {
    background-color: #222327;
}

.h2 {
    color: #88898D;
}