@{
    ViewData["Title"] = "Home";
    
}

<style type="text/css">
    /* show the move cursor as the user moves the mouse over the panel header.*/
    #draggablePanelList .panel-heading {
        cursor: move;
    }
</style>

<!-- Bootstrap 3 panel list. -->
<div class="" style="height: 95%">
    <div class="col-md-8" style="height: 100%">
        <!-- Welcome Panel -->
        <div id="welcomePanel">
            <h2>Welcome to YouMix Music!</h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque placerat orci non justo auctor ultricies. Sed ipsum neque, scelerisque eget neque laoreet, semper bibendum eros. Etiam vulputate gravida dictum. Pellentesque erat felis, suscipit et accumsan vel, feugiat et neque. Morbi bibendum a magna vel fermentum. Integer vitae turpis in libero rhoncus mollis. Nam finibus luctus tristique. Donec sit amet euismod libero, vel cursus arcu. Quisque rutrum lorem dui, in finibus arcu interdum at.

Suspendisse ac malesuada libero, vel bibendum justo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas pretium velit magna, eu pellentesque tortor scelerisque eu. Ut vel sagittis nunc, ac finibus nisi. Morbi mattis cursus interdum. Praesent ultrices diam massa, sit amet consequat nisl sollicitudin sit amet. Quisque id eros posuere, ultricies nisl et, mollis libero. In hac habitasse platea dictumst. Maecenas orci odio, scelerisque nec facilisis a, pretium ac est. Vestibulum faucibus nibh sit amet lorem suscipit, in consectetur eros efficitur. Nullam dignissim facilisis est, ac hendrerit justo sodales vitae. Suspendisse in dui mi.

Nullam non fermentum est, ut vulputate enim. Duis quis purus ut urna ullamcorper iaculis. Nullam dignissim ex dui, sit amet porttitor elit tempor a. Sed pulvinar metus odio, vitae sodales ipsum semper at. Ut luctus ligula laoreet pretium ultrices. Suspendisse fermentum diam varius ex aliquet commodo id sit amet purus. Integer fringilla nisi ac eleifend sagittis. Nunc ac feugiat mi, sit amet feugiat elit. Nullam laoreet magna lorem, dignissim malesuada odio commodo sit amet. Sed ac hendrerit dolor, vel auctor erat. Quisque congue volutpat arcu, eget pretium nisl aliquet aliquam. Aenean sapien purus, mattis at nunc quis, convallis dignissim lectus.</p>
        </div>
        <!-- Results Panel -->
        <div id="resultsPanel" style="height: 100%; display: none;">
            <h2 style="height: 5%;">Results</h2>
            <div class="scroll-pane" id="resultsList" style="height: 80%;"></div>
        </div>
    </div>
    <!-- Queue Panel -->
    <div id="queuePanel" class="col-md-4" style="height: 100%; display: none;">
        <h2 style="height: 5%;">Play Queue</h2>
        <div class="scroll-pane" style="height: 80%;">
            <ol id="queueList"></ol>
        </div>
        <div id="queue-controls">
            <a href="#" onclick=queueClear()>Clear Queue</a>
        </div>
    </div>
</div>
