@{
    ViewData["Title"] = "Home";
    
}

<style type="text/css">
    /* show the move cursor as the user moves the mouse over the panel header.*/
    #draggablePanelList .panel-heading {
        cursor: move;
    }
</style>

<!-- Bootstrap 3 panel list. -->
<div class="" style="height: 95%">
    <div class="col-md-8" style="height: 100%">
        <!-- Welcome Panel -->
        <div id="welcomePanel">
            <h2><i class="fa fa-music" aria-hidden="true"></i> Welcome to YouMix Music!</h2>
            <p>YouMix Music is a service that allows you to load songs from YouTube, with control like Spotify!</p>
            <p>This is a project for CS 252000 at Purdue University by Colin Ashburn, Anthony Goeckner, and Harold Smith.</p>
            <p>Please enjoy the awesome power of the YouMix Music project and T-Swift.</p>
        </div>
        <!-- Results Panel -->
        <div id="resultsPanel" style="height: 100%; display: none;">
            <h2 style="height: 5%;">Results</h2>
            <div class="scroll-pane" id="resultsList" style="height: 80%;"></div>
        </div>
    </div>
    <!-- Queue Panel -->
    <div id="queuePanel" class="col-md-4" style="height: 100%; display: none;">
        <h2 style="height: 5%;">Play Queue</h2>
        <div class="scroll-pane" style="height: 80%;">
            <ol id="queueList"></ol>
        </div>
        <div id="queue-controls">
            <a href="#" onclick=queueClear()>Clear Queue</a>
        </div>
    </div>
</div>
